header h1 {
  margin: 2rem 2rem 2rem 0rem;
  font-size: 2rem;
}
header h1:after {
  display: block;
  content: '';
  margin-top: 1rem;
  border-top: 2px solid #888;
  height: 0.25rem;
  border-bottom: 1px solid #eee;
}

article {
  margin-bottom: 4rem;
  border-bottom: 1px solid #eee;
}

article .tags {
  margin-top: -2rem;
}

header h1 a,
article h5 a,
article .tags a {
  text-decoration: none;
}

header h1 a:hover,
header h1 a:active,
article h5 a:hover,
article h5 a:active,
article .tags a:hover,
article .tags a:active {
  text-decoration: underline;
}

aside nav ul li {
  margin-bottom: 0;
}

aside nav ul ul {
  margin-top: 0;
}

aside nav li.current {
  list-style-type: square;
  font-weight: bold;
}

aside nav li.current ul {
  font-weight: normal;
}

aside nav p.current {
  font-weight: bold;
}

aside nav table {
  width: 100%;
}

aside nav table th {
  text-align: center;
  font-weight: normal;
}

aside nav table td {
  text-align: center;
  border-bottom: none;
  padding: 0;
  color: #ccc;
  font-size: 0.8em;
}

aside nav table td a {
  font-size: 1.25em;
  text-decoration: none;
}


aside nav table th.current,
aside nav table td.current {
  font-weight: bold;
}

/* fluid video_container from http://alt-web.com/FluidGrid/Fluid.html */
.video-container {
  position: relative;
  padding-bottom: 56.25%; padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
