<%page expression_filter="h"/>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="${base_url}">

  <title>${title}</title>
  <meta name="description" content="${description}">
  <meta name="author" content="${author['name']}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  % if has_rss:
  <link rel="alternate" type="application/rss+xml" title="RSS" href="${base_filename}.rss" />
  <link rel="alternate" type="application/json" title="JSON Feed" href="${base_filename}.json" />
  % else:
  <link rel="alternate" type="application/rss+xml" title="RSS" href="index.rss" />
  <link rel="alternate" type="application/json" title="JSON Feed" href="index.json" />
  % endif

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/${blog_css | n}">

  <link rel="icon" type="image/ico" href="${favicon | n}">

  % if annotate:
  <script src="https://hypothes.is/embed.js" async></script>
  % endif
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="column">
        <header>
          <h1><a href="${blog_url | n}">${title}</a></h1>
        </header>
      </div>
    </div>
  </div>

  <div class="container">
    % if section:
    <div class="row">
      <div class="two-thirds column">
        <h4>${section}
          % if section_tag:
          <code>${section_tag}</code>
          % endif
        </h4>
      </div>
    </div>
    % endif

    <div class="row">
      <div class="two-thirds column">
        % if prev_page:
        <nav>
          <p>
            % if prev_page:
              <a href="${prev_page | n}">&larr; Newer posts</a>
            % endif
            % if next_page:
              <a href="${next_page | n}">Older posts &rarr;</a>
            % endif
          </p>
        </nav>
        % endif
        % for item in items:
        <article>
          <h5>
            % if 'external_url' in item:
            <a href="${item['external_url'] | n}">${item['title']}</a>
            % else:
            ${item['title']}
            % endif
          </h5>
          <p class="tags">
            <a href="${item['url']}" title="permalink">¶</a>
            % if item.get('cached'):
                <a href="${item['cached']['url'] | n}"
                   title="${item['cached']['title']}" rel="nofollow" target="_blank">↫</a>
            % endif
            <a href="${item['date_published'].strftime('%Y/%m/%d/')}">${item['date_published'].date().isoformat()}</a>
            % for url, tag in public_tags(item.get('tags', [])):
            <a href="${url | n}"><code>${tag}</code></a>
            % endfor
          </p>
          % if item.get('image'):
          <p>
            <a href="${item['image'] | n}" target="_blank">
              <img class="u-max-full-width"
                   src="${item.get('_image_thumb', item['image']) | n}">
            </a>
          </p>
          % endif
          % if 'content_html' in item:
          ${item['content_html'] | n}
          % else:
          <p>${item['content_text'] | n, clean}</p>
          % endif
          % for attachment in item.get('attachments', []):
            % if attachment.get('_rel') == 'audio':
              <audio controls src="${attachment['url'] | n}" preload="none">
                <p><a href="${attachment['url'] | n}">${attachment['url']}</a></p>
              </audio>
            % else:
              <p>
                % if '_rel' in attachment:
                  <a href="${attachment['url'] | n}" rel="${attachment['_rel']}">
                % else:
                  <a href="${attachment['url'] | n}">
                % endif
                  ${attachment.get('title', attachment['url'])}
                </a>
              </p>
            % endif
          % endfor
          % if item.get('video'):
            <div class="video-container">
              <iframe width="560" height="315"
                      src="${item['video'] | n}"
                      frameborder="0" allowfullscreen></iframe>
            </div>
          % endif
        </article>
        % endfor
        % if next_page or prev_page:
        <nav>
          <p>
            % if prev_page:
              <a href="${prev_page | n}">&larr; Newer posts</a>
            % endif
            % if next_page:
              <a href="${next_page | n}">Older posts &rarr;</a>
            % endif
          </p>
        </nav>
        % endif
      </div>

      <div class="one-third column">
        <aside>
          <nav>
            <p>
              <a href="${author['url'] | n}">Home</a>
              &raquo;
              <a href="${blog_url | n}">Blog</a>
            </p>
          </nav>

          <h6>Tags</h6>
          <nav>
            <ul>
              % for url, tag, count in tags:
              % if tag in current_tags:
              <li class="current">
              % else:
              <li>
              % endif
                <a href="${url | n}">${tag}</a> (${count})</li>
              % endfor
            </ul>
          </nav>

          <h6>Archive</h6>
          <nav>
            % for url, year, count, months in archive:
              % if year == current_year:
              <p class="current">
              % else:
              <p>
              % endif
                <a href="${url | n}">${year}</a> (${count})
              </p>

              % for url, month, count, weeks, month_name in months:
                <table>
                  <tr>
                    % if year == current_year and month == current_month:
                      <th colspan="7" class="current">
                    % else:
                      <th colspan="7" >
                    % endif
                      <a href="${url | n}">${month_name}</a> (${count})
                    </th>
                  </tr>

                  % for week in weeks:
                    <tr>
                      % for url, day, count, day_name in week:
                        % if year == current_year and month == current_month and day == current_day:
                          <td class="current">
                        % else:
                          <td>
                        % endif
                        % if count:
                          <a href="${url | n}">${count}</a>
                        % elif day_name:
                          ${day_name}
                        % endif
                        </td>
                      % endfor
                    </tr>
                  % endfor
                </table>
              % endfor
            % endfor
          </nav>

        </aside>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <footer>
          &copy; 2017
          <a href="${author['url'] | n}">${author['name']}</a>
          <img src="img/feed-icon-14x14.png" alt="" />
          % if has_rss:
          <a href="${base_filename}.rss">RSS</a>
          <a href="${base_filename}.json">JSON feed</a>
          % else:
          <a href="index.rss">RSS</a>
          <a href="index.json">JSON feed</a>
          % endif
        </footer>
      </div>
    </div>

  </div>

</body>
</html>
